
<h1>Items of Greatness</h1>

<form #itemsForm="ngForm" (ngSubmit)="addNewItem(itemsForm.value.newItem)">
    <label for="">New Item</label>
    <input type="text" ngModel name="newItem">
    <button>Add Item</button>
</form>


<div *ngFor="let item of cartitems">
    <p>{{ item.id }}</p>
    <p>{{ item.product }}</p>
    <p>{{ item.price }}</p>
    <p>{{ item.quantity }}</p>
    <button (click)="deleteItem(item.id)">X</button>

    <form #updateForm="ngForm" (ngSubmit)="updateAnItem(updateForm.value.updatedItemId, item.id)">
        <label for="">Edit An Item</label>
        <input type="text" ngModel name="updatedItemName">
        <button>Save Item</button>
    </form>
</div>