
<h1>The Stoop</h1>

<section class = "allItems">
    <section class="items">
        <div class="itemsList" *ngFor="let item of cartitems; index as i">
            <p>{{ item.product }}</p>
            <p>${{ item.price }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <button (click)="deleteItem(item.id)">X</button>
            <button (click)="toggleForm(i)">Edit</button>

            <form class="edit" #updateForm="ngForm" *ngIf="item.beingUpdated" (ngSubmit)="[updateAnItem(item), toggleForm(i)]">
                <label for="">Edit Shoe: </label>
                <input type="text" [(ngModel)]="item.product" name="product">
    
                <label for="">Edit Price: </label>
                <input type="number" [(ngModel)]="item.price" name="price">
    
                <label for="">Edit Quantity: </label>
                <input type="number" [(ngModel)]="item.quantity" name="quantity">
                <button>Save Item</button>
            </form>

    </div>
    </section>


    <section class="sell">
        <h2>Sell Your Shoes</h2>
        <form class="itemsForm" #itemsForm="ngForm" (ngSubmit)="addNewItem(itemsForm)">
            <div class="sellForm">
                <label for="">New Shoe: </label>
                <input type="text" ngModel name="product">

                <label for="">Price: </label>
                <input type="number" ngModel name="price">

                <label for="">Quantity: </label>
                <input type="number" ngModel name="quantity">
            
            </div>

                <button>Add Item</button>
            
        </form>
    </section>
</section>